DATABASE_URL="postgresql://username:password@localhost:5432/ftc_communication"
JWT_ACCESS_SECRET="your-access-secret-min-32-chars-here"
JWT_REFRESH_SECRET="your-refresh-secret-min-32-chars-here"
JWT_ACCESS_EXPIRES_IN="15m"
JWT_REFRESH_EXPIRES_IN="7d"
NEXT_PUBLIC_APP_URL="http://localhost:3000"
